 <!-- About Section -->
    <section id="about" class="red">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-tertiary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CampusDebate is a software company founded for the purpose of bringing more student voices into the public sphere. <br> <br> Amazing conversations and debates happen daily on college and university campuses, but they are usually invisible outside of the dining halls and dormitories.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our goal is to bring student ideas, on topics ranging from American politics to global warming, onto a platform that allows everyone to view the discussion, provide feedback, and build a bridge between the campus and the community. All voting data will be made freely available to the college or university at which the debate took place. 
</p>
                </div>
            </div>
        </div>
    </section>