 <!-- UWDebates Section -->
    <section id="uwdebates" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Debates at Wisconsin</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Campus Debate is launching at the University of Wisconsin-Madison. We are working in partnership with the Society and Politics student organization (SoPo), the Wisconsin Union Directorate (WUD), the Morgridge Center for Public Service, and the Center for the Study of Liberal Democracy. The series of debates happening at the UW are known as the Badger Debates.</P>
<p>The Badger Debates will take place in the Fredric March Play Circle Theater in Memorial Union once a month during the Fall 2015 semester and twice a month during the Spring 2016 semester. Most debates will happen on Monday evenings. Check here for schedule updates.</p>

<p>Special thanks to the Center for the Study of Liberal Democracy for helping to fund the Badger Debates.</p>
                </div>
            </div>
        </div>
    </section>
